[submodule "submodules/cereal"]
	path = submodules/cereal
	url = https://github.com/USCiLab/cereal
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/happly"]
	path = submodules/happly
	url = https://github.com/nmwsharp/happly
[submodule "submodules/json11"]
	path = submodules/json11
	url = https://github.com/dropbox/json11
