[submodule "submodules/openvdb"]
	path = submodules/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb
[submodule "submodules/cereal"]
	path = submodules/cereal
	url = https://github.com/USCiLab/cereal
[submodule "submodules/tbb"]
	path = submodules/tbb
	url = https://github.com/wjakob/tbb
